
.Header{
  border-bottom:2px solid gray;

}

.main-content{
  margin-left:10px;
}

.author-card{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  margin-top:10px;
  border-bottom:1px solid gray;
  padding-bottom:5px;

}

.author-card img{
  width:100px;
  height:100px;
 
  margin-right: 15px;
}